{% extends 'default/container.html.twig' %}

{% form_theme form _self %}
	
	{% block form_widget_button %}
		<p>sdad</p>
	{% endblock form_widget_button %}
	
	{% block form_row %}
		<div class="form-group">
			{% spaceless %}
		        {{ form_label(form, null, {'label_attr': {'class': 'col-sm-2 control-label'}} ) }}
		        {{ form_errors(form) }}
	        	<div class="col-sm-10">
	        	{{ form_widget(form, { 'attr': {'class': 'form-control'} }) }}
	        	</div>
			{% endspaceless %}
		</div>
	{% endblock form_row %}


	
	
{% block main_content %}
<div class="box box-info">
    {# ... render the form #}
	<div class="box-body">
    {{ form(form, { 'attr' : {'class' : 'form-horizontal'} }) }}
	</div>
</div>
{% endblock %}